.modal-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-overlay .modal {
  transform: translate(-50%, -50%);
  border: 1px white dashed;
}

.modal {
  padding: 10px;
}
